#aphec-lists-admin {
	display: block;
	padding: 0;
	list-style: none;
}
.aphec-list {
	margin-top: 0.7em;
}
.aphec-list-title {
	display: block;
	margin-top: 0.4rem;
	font-weight: bold;
	font-size: 120%;
}
.aphec-list-description {
	display: block;
}
.aphec-list-authorized {
	display: block;
}
.aphec-list-profiles {
	display: block;
	margin-top: 0.4em;
}
.aphec-list-profiles > label {
	font-weight: bold;
}
.aphec-list-profiles > ul {
	display: block;
	list-style: none;
	padding: 0;
}
.aphec-list-profiles > ul > li {
	display: inline;
}
